# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
tech-club-traker-service.zip
techclubtracker.zip
techclubtracker/
techclubtracker
tech-club-tracker-service/src/secrets/
tech-club-tracker-service/src/secrets
tech-club-tracker-service/vendor/
tech-club-tracker-service/vendor
tech-club-tracker-service/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
